<header>
  <p>Hello.</p>
  <p>
  I'm interested in the <em><a href="{{page.job_url}}">{{page.position}}</a></em> role at <em>{{page.company}}</em>.
  </p> 
</header>

<section>
  <p>
    I’ve spent the last decade building user-friendly, scalable platforms—most recently at Google—where I focused on simplifying workflows and improving onboarding for both enterprise and developer-facing products. Helping teams turn complex systems into experiences that feel intuitive is what I love most.
  </p>
  <p>
    What interested me about this role is how central the user experience is to your strategy. Whether it’s advertisers planning across channels or internal teams activating campaigns, the challenge of making those experiences seamless and impactful resonate with me.
  </p>
</section>

<section>
  <h2>30/60/90 Day Plan</h2>
  <p>
    Here is an idea of how I generally see myself starting out when I join a team.
  </p>
  <p>
    <strong>First 30 Days – Learn & Listen</strong> - It's important for me to get a clear view of how the platform works today and what's working (or not) for advertisers. I would spend a lot of time talking to the engineers, designers, activation teams. I’d also dig into platform data and user feedback to get a feel for where friction exists.
  </p>
  <p>
    <strong>Next 30 Days – Map & Prioritize</strong> - I’d map out the advertiser journey and start identifying areas we can streamline or scale better. Working closely with the team, I’d start building a short-term roadmap that balances wins we can deliver quickly with foundational improvements that need time.
  </p>
  <p>
    <strong>By 90 Days – Ship, Iterate &amp; Cast a Vision</strong> - I'd ship my first feature with the team and work collaboratively to define (or refine) a strategy and vision. I'm a big proponent of shipping iteratively and making adjustments sooner rather than later. I like to ship the first feature as early as possible to understand the process and start building trust with peers and leadership. I'm pretty good at identifying high impact low hanging fruit and helping bring focus and clarity to get them out the door.
  </p>
</section>

<section>
  <p>
    <div>Thanks,</div>
    <div>Jaisen</div>
  </p>
</section>


