<header>
  <p>Hello.</p>
  <p>
    I'm interested in the <em><a href="https://explore.jobs.netflix.net/careers/job/790301135766">Product Manager, Developer Platform</a></em> role at <em>Netflix</em>.
    I created this page to convince both you and me that joining the Netflix team would be mutually beneficial.
  </p> 
</header>

<section>
  <h2>I'm Genuinely Interested</h2>
  <p>
    I've been a Netflix user since the DVD days and admire the company's attention to user experience.
    Whether it was waiting for the next DVD to arrive from the queue or today's version of finding something funny to watch - Netflix delivers :).
  </p>
  <p>
    Helping engineers find the right tools for the job is a pain point which resonates with me.
    I was an engineer for 15 years before being a PM and I still write plenty of code to this day.
    My <a href="https://github.com/jmathai">Github profile</a> is pretty active.
  </p>
</section>

<section>
  <h2>I Understand Software Development Lifecycle</h2>
  <p>
    Making the best choice comes from having access to the right information.
    This is true for new hires and tenured engineers alike.
    You can't choose the right tool if you don't know it exists.
    Coming from Google, I empathize with large libraries of tools created by distributed teams.
  </p>
  <p>
    But it's challenging to introduce new tools into an engineer's already optimized workflow.
    I enjoy finding ways to educate engineers in a way they find worth their time.
    Opt-in newsletters, callouts in existing platform services or integrations into the tools they already use are just some examples.
  </p>
</section>

<section>
  <h2>I Have Worked With Onboarding Portals</h2>
  <p>
    At Google, I helped internal teams onboard to the Workspace Platform.
    I imagine this runs into some of the challenges this role will face at Netflix.
    You can think of it as making a product or feature ready for Google's enterprise customers.
  </p>
  <p>
    The portal exposed these teams to tools and APIs which handle complex licensing logic as well as components needed to add their settings into the customer facing administrative console.
  </p>
  <p>
    Honest disclaimer: I was not the lead PM on this project but I did help with the requirements and onboarding and learned <em>a lot</em>.
  </p>
</section>

<section>
  <h2>I Have Strong Product Sense</h2>
  <p>
    <strong>Product Management, Google (7 years):</strong> I was a product manager and product lead at Google for 7 years. I started as an early member of the team which launched Cloud Identity and went on to lead the Cloud Functions product within the Serverless organization. Before leaving Google, I was the Gemini (GenAI) lead for Serverless where I got to launch several first of a kind experiences to users.
    <ul>
      <li><a href="https://cloud.google.com/blog/products/serverless/cloud-run-vs-cloud-functions-for-serverless">Cloud Functions vs. Cloud Run: when to use one over the other</a></li>
      <li><a href="https://cloud.google.com/blog/products/serverless/cloud-functions-2nd-generation-now-generally-available">Cloud Functions 2nd gen is GA, delivering more events, compute and control</a></li>
      <li><a href="https://googlecloudpodcast.libsyn.com/cloud-functions-2nd-gen-with-jaisen-mathai-and-sara-ford">GCP Podcast - Cloud Functions (2nd gen)</a></li>
      <li><a href="https://cloud.google.com/blog/products/identity-security/10-new-security-and-management-controls">Security-at-scale: 10 new security and management controls</a></li>
    </ul>
  </p>
  <p>
    <strong>Founder, Trovebox (4 years):</strong> I co-founded Trovebox wearing many hats ranging from developer, marketer and fund raiser. The most valuable part of my experience was building a strong community around our open source product. The community consisted of thousands of individuals and hundreds of contributors. I was on the front line of user feedback and translated their feedback into scalable product capabilities. This is evidence of my ability to work directly with designers and developers while shipping products which are ultimately used by consumers.
    <ul>
      <li><a href="https://techcrunch.com/2011/06/29/former-yahoo-engineer-quits-to-build-a-flickr-killer-on-kickstarter/">TechCrunch: Former Yahoo Engineer Quits To Build A Flickr Killer On Kickstarter</a></li>
      <li><a href="https://readwrite.com/save_your_photos_to_amazon_or_dropbox_with_app_pla/">ReadWrite: Save Your Photos to Amazon or Dropbox With App Platform OpenPhoto.me</a></li>
      <li><a href="https://techcrunch.com/2012/04/17/liberate-your-pics-openphoto-brings-its-killer-photo-sharing-platform-to-your-iphone/">TechCrunch: OpenPhoto Brings Its Killer Photo Sharing Platform To Your iPhone</a></li>
      <li><a href="https://www.shuttleworthfoundation.org/thinking/2019/02/05/thinking-jaisen-mathai-openphoto/">Shuttleworth Foundation: Spotlight on Trovebox</a></li>
      <li><a href="https://github.com/photo">GitHub: 1.5k+ stars &amp; 300+ forks</a></li>
    </ul>
  </p>
</section>
<section>
  <h2>What's Next?</h2>
  <p>
    I've already applied for the <a href="https://explore.jobs.netflix.net/careers/job/790301135766">role</a>. Take a look and reach out via email or LinkedIn.
    <ul>
      <li><a href="mailto:jaisen@jmathai.com">jaisen@jmathai.com</a></li>
      <li><a href="https://www.linkedin.com/in/jaisenmathai/">Profile on LinkedIn</a></li>
      <li><a href="https://github.com/jmathai">Profile on Github</a></li>
    </ul>
  </p>
</section>

