<div class="row">
  <div class="col">
    <p>Hello.</p>
    <p>
      I'm interested in the <em>Lead Product Manager</em> role at <em>Acorns</em>.
      I created this page to convince both you and me that joining the Acorns team would be mutually beneficial.</p> 
    <h2>Market Match</h2>
    <p>
      I care about creating useful things and find the better I know the user the more I succeed.
      Improving financial literacy and simplifying smart investing are both areas I have experience in.
    </p>
    <p>
      <strong>Budget Coach at Vineyard Cincinnati:</strong> I volunteer as a budget coach at Vineyard Cincinnati talking with individuals and couples facing financial stress.
      In this role, I listen more than I talk.
      Finances are deeply personal and I understand it can take lots of courage for people to seek financial advice.
      I help people understand their income and expenses and work with them to create a budget.
      Success as a budget coach means that people feel less stress &amp; chaos and more peace &amp; motivation.
      Getting finances in order can drastically change people's lives and that's why I do this.
    </p>
    <p>
    <strong>Creator of FIers:</strong> I created tools to help people reach financial independence. The tools include a <a href="https://fiers.jmathai.com/features">retirement planner</a> and <a href="https://fiers.jmathai.com/features/spend">envelope budgeting app</a>. The retirement planner forecasts how someone would draw down from their nest egg during retirement and simulated how well it would fare using historic market data. FIers was my way of sharing what I learned over many years researching and planning my family's own financial goals and it's helped thousands of people do the same.
    </p>
  </div>
</div>
