<header>
  <p>Hello.</p>
  <p>
  I'm interested in the <em><a href="{{page.job_url}}">{{page.position}}</a></em> role at <em>{{page.company}}</em>.
  I created this page to convince both you and me that joining the {{page.company}} team would be mutually beneficial.
  </p> 
</header>

<section>
  <h2>I'm Genuinely Interested</h2>
  <p>
    I was an engineer before I became a product manager and I still write code and deploy applications today.
    Technical infrastucture is something I believe can empower or hold developers back.
    This role's description resonates deeply with me.
  </p>
</section>

<section>
  <h2>I Understand Software Development Lifecycle</h2>
  <p>
    I have hands on experience with the entire software development lifecycle as an engineer and PM.
  </p>
  <p>
    <strong>As a product manager</strong>, I have designed products and tools to help engineers design and deploy software. At Google, I was responsible for streamlining developer experience for Cloud Functions and integrating Gemini AI into Cloud Run.
  </p>
  <p>
    <strong>As an engineer</strong>, I have written code, run tests, designed ci/cd pipelines, deployed software and debugged in production.
    I'm comfortable getting deep in the weeds to identify issues and come up with solutions.
  </p>
</section>

<section>
  <h2>I Build Trust With Engineers</h2>
  <p>
    The empathy and experience I bring help me build trust with engineers.
  </p>
  <p>
    I'm adept at creating prototypes from my ideas to iron out details and flesh out user experience.
    Engineers appreciate that I am capable of validating ideas without pulling them off important tasks.
  </p>
  <p>
    One example was a technically complex product feature (<a href="https://cloud.google.com/identity/docs/concepts/overview-dynamic-groups">dynamic groups</a>) which was estimated to take several quarters.
    I prototyped a working version of the feature and presented it to leadership to get buy in.
    Our engineering director joked that he wanted every PM presentation to include a prototype.
    It ended up being a high visibilty project which resulted in several engineers getting promoted.
  </p>
</section>

<section>
  <h2>I Have Strong Product Sense</h2>
  <p>
    <strong>Product Management, Google (7 years):</strong> I was a product manager and product lead at Google for 7 years working on Google's Enterprise Identity, Serverless and Gemini AI teams. 
    <ul>
      <li><a href="https://cloud.google.com/blog/products/serverless/cloud-run-vs-cloud-functions-for-serverless">Cloud Functions vs. Cloud Run: when to use one over the other</a></li>
      <li><a href="https://cloud.google.com/blog/products/serverless/cloud-functions-2nd-generation-now-generally-available">Cloud Functions 2nd gen is GA, delivering more events, compute and control</a></li>
      <li><a href="https://googlecloudpodcast.libsyn.com/cloud-functions-2nd-gen-with-jaisen-mathai-and-sara-ford">GCP Podcast - Cloud Functions (2nd gen)</a></li>
      <li><a href="https://cloud.google.com/blog/products/identity-security/10-new-security-and-management-controls">Security-at-scale: 10 new security and management controls</a></li>
    </ul>
  </p>
  <p>
    <strong>Founder, Trovebox (4 years):</strong> I co-founded Trovebox wearing many hats ranging from developer, marketer and fundraiser. The most valuable part of my experience was building a strong community of thousands of indivituals around our open source product.
    <ul>
      <li><a href="https://techcrunch.com/2011/06/29/former-yahoo-engineer-quits-to-build-a-flickr-killer-on-kickstarter/">TechCrunch: Former Yahoo Engineer Quits To Build A Flickr Killer On Kickstarter</a></li>
      <li><a href="https://readwrite.com/save_your_photos_to_amazon_or_dropbox_with_app_pla/">ReadWrite: Save Your Photos to Amazon or Dropbox With App Platform OpenPhoto.me</a></li>
      <li><a href="https://techcrunch.com/2012/04/17/liberate-your-pics-openphoto-brings-its-killer-photo-sharing-platform-to-your-iphone/">TechCrunch: OpenPhoto Brings Its Killer Photo Sharing Platform To Your iPhone</a></li>
      <li><a href="https://www.shuttleworthfoundation.org/thinking/2019/02/05/thinking-jaisen-mathai-openphoto/">Shuttleworth Foundation: Spotlight on Trovebox</a></li>
      <li><a href="https://github.com/photo">GitHub: 1.5k+ stars &amp; 300+ forks</a></li>
    </ul>
  </p>
</section>

<section>
  <h2>What's Next?</h2>
  <p>
    I've already applied for the <a href="{{page.job_url}}">role</a> and would love to talk about joining the {{page.company}} team. Take a look and reach out via email or LinkedIn.
    <ul>
      <li><a href="mailto:jaisen@jmathai.com">jaisen@jmathai.com</a></li>
      <li><a href="https://www.linkedin.com/in/jaisenmathai/">Profile on LinkedIn</a></li>
      <li><a href="https://github.com/jmathai">Profile on Github</a></li>
    </ul>
  </p>
</section>


