<header>
  <p>Hello.</p>
  <p>
    I'm interested in the <em><a href="https://www.five9.com/about/careers/job-detail?gh_jid=5458791004">Principal Product Manager, Conversational AI</a></em> role at <em>Five9</em>.
    I created this page to convince both you and me that joining the Five9 team would be mutually beneficial.
  </p> 
</header>

<section>
  <h2>I'm Genuinely Interested</h2>
  <p>
    As a consumer, I understand the importance of receiving high quality and responsive support from brands and retailers.
    A great customer support experience has converted me from a disappointed customer to a loyal one.
  </p>
  <p>
    I think AI can play a tremendous role in enabling companies to scale high quality support experiences for their customers.
  </p>
</section>

<section>
  <h2>I Have Hands On Experience PMing AI Product Features</h2>
  <p>
    At Google, I led the integration of Gemini AI into our Serverless products (Cloud Run and Cloud Functions).
    I quickly learned the diligence and care required to expose GenAI features to customers.
    For example, I worked with the LLM model team to ensure that the models they were creating met our team's needs.
    I also idenfied many pain points that GenAI could help alleviate while exploring new capabilities never seen before.
  </p>
  <p>
    Here are some of the highlights of my work as GenAI PM Lead.
    <ul>
      <li><strong>Testing and Analytics:</strong> I collected and organized hundreds of prompts and expected responses to use as a baseline measurement. This let us ensure that the quality of our LLM-based features was improving over time.</li>
      <li><strong>Conversational AI and More:</strong> I created a framework to ensure a balance of obvious and aspirational features. Obvious features were low risk and low effort such as integrating metrics such as billing into the conversational chat experience. Aspirational features inlcluded new experiences (see below).</li>
      <li><strong>New Experiences:</strong> I led a multi-modal experience which utilizing text and images to help users design and deploy architecture. This was presented in a keynote at Google Cloud Next 2024.</li>
    </ul>
  </p>
</section>

<section>
  <h2>I'm Passionate About AI</h2>
  <p>
    I've spent the last year poking and prodding at the capabilities of LLMs in order to better understand their strenghts and weaknesses.
  </p>
  <p>
    I got hands-on experience with RAG, AI Agents, Prompt Engineering and A/B Testing different LLM models. In that time, I created several products.
  </p>
  <p>
    <strong>Instagram Co-pilot for Interior Designers:</strong> I created a tool which Instagram-ready captions from a designer's portfolio.
    Users can specify the goal, tone and length of their post. <a href="https://post.withlattice.com">See it in action</a>.
  </p>
  <p>
    <strong>Create Apps with Prompts:</strong> I created a product similar to bolt.new, Replit Agent and Lovable which turns prompts into deployed applications.
    This was my foray into AI agents before the term existed.
    The application creation pipeline calls out to coding, testing, debugging and deployment agents to create a fully functional application.
    <a href="https://withlattice.com/documentation">See it in action</a>.
  </p>
  <p>
    <strong>Meal Planning Butler:</strong> I created an app which lets users take any online recipe and automatically add the ingredients to their grocier's online cart for pickup or delivery.
    <a href="https://getpreppy.app">See it in action</a>.
  </p>
</section>

<section>
  <h2>I Have Strong Product Sense</h2>
  <p>
    <strong>Product Management, Google (7 years):</strong> I was a product manager and product lead at Google for 7 years. I started as an early member of the team which launched Cloud Identity and went on to lead the Cloud Functions product within the Serverless organization. Before leaving Google, I was the Gemini (GenAI) lead for Serverless where I got to launch several first of a kind experiences to users.
    <ul>
      <li><a href="https://cloud.google.com/blog/products/serverless/cloud-run-vs-cloud-functions-for-serverless">Cloud Functions vs. Cloud Run: when to use one over the other</a></li>
      <li><a href="https://cloud.google.com/blog/products/serverless/cloud-functions-2nd-generation-now-generally-available">Cloud Functions 2nd gen is GA, delivering more events, compute and control</a></li>
      <li><a href="https://googlecloudpodcast.libsyn.com/cloud-functions-2nd-gen-with-jaisen-mathai-and-sara-ford">GCP Podcast - Cloud Functions (2nd gen)</a></li>
      <li><a href="https://cloud.google.com/blog/products/identity-security/10-new-security-and-management-controls">Security-at-scale: 10 new security and management controls</a></li>
    </ul>
  </p>
  <p>
    <strong>Founder, Trovebox (4 years):</strong> I co-founded Trovebox wearing many hats ranging from developer, marketer and fund raiser. The most valuable part of my experience was building a strong community around our open source product. The community consisted of thousands of individuals and hundreds of contributors. I was on the front line of user feedback and translated their feedback into scalable product capabilities. This is evidence of my ability to work directly with designers and developers while shipping products which are ultimately used by consumers.
    <ul>
      <li><a href="https://techcrunch.com/2011/06/29/former-yahoo-engineer-quits-to-build-a-flickr-killer-on-kickstarter/">TechCrunch: Former Yahoo Engineer Quits To Build A Flickr Killer On Kickstarter</a></li>
      <li><a href="https://readwrite.com/save_your_photos_to_amazon_or_dropbox_with_app_pla/">ReadWrite: Save Your Photos to Amazon or Dropbox With App Platform OpenPhoto.me</a></li>
      <li><a href="https://techcrunch.com/2012/04/17/liberate-your-pics-openphoto-brings-its-killer-photo-sharing-platform-to-your-iphone/">TechCrunch: OpenPhoto Brings Its Killer Photo Sharing Platform To Your iPhone</a></li>
      <li><a href="https://www.shuttleworthfoundation.org/thinking/2019/02/05/thinking-jaisen-mathai-openphoto/">Shuttleworth Foundation: Spotlight on Trovebox</a></li>
      <li><a href="https://github.com/photo">GitHub: 1.5k+ stars &amp; 300+ forks</a></li>
    </ul>
  </p>
</section>
<section>
  <h2>What's Next?</h2>
  <p>
    I've already applied for the <a href="https://www.five9.com/about/careers/job-detail?gh_jid=5458791004">role</a>. Take a look and reach out via email or LinkedIn.
    <ul>
      <li><a href="mailto:jaisen@jmathai.com">jaisen@jmathai.com</a></li>
      <li><a href="https://www.linkedin.com/in/jaisenmathai/">Profile on LinkedIn</a></li>
      <li><a href="https://github.com/jmathai">Profile on Github</a></li>
    </ul>
  </p>
</section>


