<header>
  <p>Hello.</p>
  <p>
  I'm interested in the <em><a href="{{page.job_url}}">{{page.position}}</a></em> role at <em>{{page.company}}</em>.
  I created this page to convince both you and me that joining the {{page.company}} team would be mutually beneficial.
  </p> 
</header>

<section>
  <h2>I'm Genuinely Interested</h2>
  <p>
    I was an engineer before I became a product manager and I still write code and deploy applications today.
    I've worked closely with storage infrastructure for 15+ years at both Google and as a founder.
  </p>
</section>

<section>
  <h2>I Have Hybrid File Storage Experience</h2>
  <p>
    I have worked with on-prem, cloud and edge file storage solutions.
  </p>
  <p>
    <strong>On-prem:</strong> I designed and implemented an on-premise NFS-based storage solution for a media sharing service in 2005.
  </p>
  <p>
    <strong>Cloud:</strong> I founded a startup which leveraged 7 cloud-based storage solutions focused on data preservation and portability.
  </p>
  <p>
    <strong>Edge:</strong> At Google, I helped design a programmatic file transformation service using Google Cloud Storage and Cloud Functions.
  </p>
</section>

<section>
  <h2>I Have Strong Product Sense</h2>
  <p>
    <strong>Product Management, Google (7 years):</strong> I was a product manager and product lead at Google for 7 years working on Google's Enterprise Identity, Serverless and Gemini AI teams. 
    <ul>
      <li><a href="https://cloud.google.com/blog/products/serverless/cloud-run-vs-cloud-functions-for-serverless">Cloud Functions vs. Cloud Run: when to use one over the other</a></li>
      <li><a href="https://cloud.google.com/blog/products/serverless/cloud-functions-2nd-generation-now-generally-available">Cloud Functions 2nd gen is GA, delivering more events, compute and control</a></li>
      <li><a href="https://googlecloudpodcast.libsyn.com/cloud-functions-2nd-gen-with-jaisen-mathai-and-sara-ford">GCP Podcast - Cloud Functions (2nd gen)</a></li>
      <li><a href="https://cloud.google.com/blog/products/identity-security/10-new-security-and-management-controls">Security-at-scale: 10 new security and management controls</a></li>
    </ul>
  </p>
  <p>
    <strong>Founder, Trovebox (4 years):</strong> I co-founded Trovebox which was a mass distributed media storage service.
    <ul>
      <li><a href="https://techcrunch.com/2011/06/29/former-yahoo-engineer-quits-to-build-a-flickr-killer-on-kickstarter/">TechCrunch: Former Yahoo Engineer Quits To Build A Flickr Killer On Kickstarter</a></li>
      <li><a href="https://readwrite.com/save_your_photos_to_amazon_or_dropbox_with_app_pla/">ReadWrite: Save Your Photos to Amazon or Dropbox With App Platform OpenPhoto.me</a></li>
      <li><a href="https://techcrunch.com/2012/04/17/liberate-your-pics-openphoto-brings-its-killer-photo-sharing-platform-to-your-iphone/">TechCrunch: OpenPhoto Brings Its Killer Photo Sharing Platform To Your iPhone</a></li>
      <li><a href="https://www.shuttleworthfoundation.org/thinking/2019/02/05/thinking-jaisen-mathai-openphoto/">Shuttleworth Foundation: Spotlight on Trovebox</a></li>
      <li><a href="https://github.com/photo">GitHub: 1.5k+ stars &amp; 300+ forks</a></li>
    </ul>
  </p>
</section>

<section>
  <h2>What's Next?</h2>
  <p>
    I've already applied for the <a href="{{page.job_url}}">role</a> and would love to talk about joining the {{page.company}} team. Take a look and reach out via email or LinkedIn.
    <ul>
      <li><a href="mailto:jaisen@jmathai.com">jaisen@jmathai.com</a></li>
      <li><a href="https://www.linkedin.com/in/jaisenmathai/">Profile on LinkedIn</a></li>
      <li><a href="https://github.com/jmathai">Profile on Github</a></li>
    </ul>
  </p>
</section>



