<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
	        {% for link in site.links %}
			<li>
				{% if link.external %}
					<a href="{{ link.url }}">{{ link.title }}</a>
				{% else %}
					<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
				{% endif %} 
			</li>
	        {% endfor %}
          <!--<li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>-->
	        {% if site.search %}<li class="dosearch"><i class="icon-search"></i> Search</li>{% endif %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if site.search %}<div class="search-wrapper">
	<div class="search-form">
		<input type="text" class="search-field" placeholder="Search...">
		<i class="icon-remove-sign icon-2x"></i>
		<ul class="search-results post-list"></ul><!-- /.search-results -->
	</div><!-- /.search-form -->
</div><!-- ./search-wrapper -->{% endif %}

<header class="masthead">
  <div class="wrap">
    <div class="site-logo">
      {% if page.image.feature %}
        {% if page.logo != null %}
          <img src="{{ site.url }}/images/{{ page.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown page"></div>
        {% else if site.logo != null %}
          <img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown site"></a>
        {% endif %}
      {% else %}<header class="masthead">
        {% if page.logo != null %}
          <img src="{{ site.url }}/images/{{ page.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInUp page">
        {% else if site.logo != null %}
          <img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInUp site">
        {% endif %}
      {% endif %}
    </div>
    {% if page.layout == 'page' %}
      <h1 class="site-title animated fadeIn"><a href="{{ site.url }}/">{{ page.title or site.title }}</a></h1>
      <h2 class="site-description animated fadeIn" itemprop="description">{{ page.description or site.description }}</h2>
    {% endif %}
  </div>
</header><!-- /.masthead -->
